<div class="rate-limit centered">
<div class="centered thank-you jumbotron">
<h1> We've been "Iced!" <iframe width="100" height="400" src="//www.youtube.com/embed/lpe6p9sIgbk" frameborder="0" allowfullscreen></iframe> </h1>


  <h2>Looks like you've hit Twitter's rate limit, and need to wait 10 minutes before continuing.

  How exactly does Twitter's rate limit work? <%= link_to  "Click here to read all about it", "https://dev.twitter.com/rest/public/rate-limiting", target: "blank" %>
</h2>

